<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Ask me Anything (56)</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <nav>
        
        <p class="navTitle"> Welcome to: My Ask Me Anything (56)<br> <%= user.username %></p>
        
        

        
         <div class="signDiv">
            <form action="/logout" method="POST" class="monkaForm">
                <button type="submit">LOG OUT</button>
            </form>
            <form action="/" class="monkaForm">
                <button type="submit">HOME</button>
            </form>
                
        </div>

        

    </nav>

    </nav>
    <main class="homePage">
        <div class="cards">
            <a class="card">
                <img src="img/questionWhite.svg" alt="" class="cardImg">
                <p class="cardTitle">
                    My total Questions: <%= totalQ %>
                </p>
                <p class="cardTitle">
                    My Questions for Today: <%= todayQ %>
                </p>
            </a>
            <a class="card">
                <img src="img/answerWhite.svg" alt="" class="cardImg">
                <p class="cardTitle">
                    My total Answers: <%= totalA %>
                </p>
                <p class="cardTitle">
                    My Answers for Today: <%= todayA %>
                </p>
            </a>
            <a class="card" href="/askquestion">
                <img src="img/question-mark.svg" alt="" class="cardImg">
                <p class="cardTitle">
                    Ask a Question
                </p>
            </a>
            <a class="card" href="/questions">
                <img src="img/conversation.svg" alt="" class="cardImg">
                <p class="cardTitle">
                    All Questions
                </p>
            </a>
        </div>
    </main>

    <footer>
        <div class="footerLinks">
            <div>
                <p class="linksTitle">
                    PROJECT
                </p>
                <a href="https://github.com/antreasvez/AskMeAnything-SaaS-56/tree/main/documentation" class="footerLink">Documentation</a>
                <a href="https://github.com/antreasvez/AskMeAnything-SaaS-56" class="footerLink">Github Link</a>
                <a href="https://courses.pclab.ece.ntua.gr/course/view.php?id=34" class="footerLink">Course Materials</a>
                <a href="https://hub.softlab.ntua.gr/hub/projects/saas-56" class="footerLink">YouTrack</a>
            </div>
            <div>
                <p class="linksTitle">ABOUT US</p>
                <div class="contact">
                    <b>Stathis:</b>
                    <p>5th Year ECE student, Y, L, O specialization </p>
                    <p>Interested in Economics, Digital Policy and IR</p>
                    <p>&nbsp</p>
                    <b>Andreas:</b>
                    <p>4th Year ECE student, Y, L, S specialization </p>
                    <p>Interested in Signals, Robotics and ML</p>
                </div>
            </div>
            <div>
                <p href="" class="linksTitle">CONTACT US</p>
                <div class="contact">
                    <b>Address:</b>
                    <p>National Technical UUniversity of Athens</p>
                    <p>School of Electrical and Computer Engineering</p>
                    <p>Hroon Polytechneiou 9, Athens, 15780</p>
                    <p>&nbsp</p>
                    <b>Email:</b>
                    <p>el16801@mail.ntua.gr</p>
                    <p>el17186@mail.ntua.gr</p>
                </div>

            </div>
        </div>
        <div class="socialLinks">
            <a href=""><img src="img/facebook-f-brands.svg" alt=""></a>
            <a href=""><img src="img/twitter-brands.svg" alt=""></a>
            <a href=""><img src="img/youtube-brands.svg" alt=""></a>
            <a href=""><img src="img/instagram-brands.svg" alt=""></a>
        </div>
        <center>© SaaS (56) All Rights Reserved</center>
    </footer>
</body>

</html>