<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <nav>
        <p class="navTitle">ALL QUESTIONS</p>
        <div class="signDiv">
            <a href="/" class="signup">HOME</a>
            <% if (!loggedIn) { %>
                <a href="/login" class="login">Log in</a>
                <a href="/signup" class="signup">Sign up</a>
            <% } %>
        </div>

    </nav>
    <main>
        <div class="questionsPageTop">
            <p class="totalQuestions">
                21,466,329 questions, make dynamic
                <% if (!loggedIn) { %>
                    <br><span class="sudolink" onclick="location='/login'">Login</span> to answer them or view details!
                <% } %>  
            </p>
            <form action="">
                <select name="filterByTag" id="filterByTag">
                    <option value="any">choose a spesific question</option>
                    <option value="flutter">flutter</option>
                    <option value="mysql">mysql</option>
                    <option value="php">php</option>
                    <option value="css">css</option>
                </select>
                <button type="submit"><img src="img/search-solid.svg"></button>
            </form>
            <a href="/askquestion">Ask Question</a>
        </div>
        <% for (var question in allquestions) { %>
        <div class="questionCards">
        
                <div class="questionCard">
                <div class="questionCardLeft">
                       <p class="AnswerCounter">0 <br> answers</p>
                </div>
                <div class="questionCardRight">
                    <div class="questionCardTop">
                        <% if (loggedIn){ %>
                            <a class="questionTitle" href="/answerquestion/<%= allquestions[question].qid %>">
                                <%= allquestions[question].question %>
                            </a>
                        <% } else { %>
                            <p class="questionTitle">
                                <%= allquestions[question].question %>
                            </p>
                        <% } %>

                        <p class="questionText">
                            <%= allquestions[question].information %>
                        </p>
                    </div>
                    <div class="questionCardBottom">
                        <div class="questionTags">
                            <p class="questionTag">
                                <%= allquestions[question].tags %>
                            </p>
                             
                        </div>
                        <p class="questionDate">
                            Asked at <%= allquestions[question].qtime %> <br> by <span><%= allquestions[question].username %></span>
                        </p>
                    </div>
                </div>
            </div>
                
            

        </div>
        <% } %>   
    </main>

    <footer>

    </footer>
</body>

</html>